@using TaskSchedulerWebApp.Settings;
<!DOCTYPE HTML>
<html>
<head>
    @if (ViewData["Title"] is not null)
    {
        <title>@ViewData["Title"]</title>
    }
    else
    {
        <title>@CompanyInfo.Name</title>
    }
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="right-sidebar is-preload">
    <div id="page-wrapper">
         
        <!-- Header Wrapper -->
        @await Html.PartialAsync("HeaderPartial")

        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            @if (@Config.SidebarVisible)
                            {
                                <div class="col-8 col-12-medium">
                                    <div id="content">
                                        <!-- Content -->
                                        @RenderBody()
                                    </div>
                                </div>
                                @await Html.PartialAsync("SidebarPartial")
                            }
                            else
                            {
                                <div class="col-12 col-12-medium">
                                    @RenderBody()
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Wrapper -->
        @await Html.PartialAsync("FooterPartial")

    </div>
    @await Html.PartialAsync("JsPartial") 
</body>
</html>