@using TaskSchedulerWebApp.Settings
<h3>Наши контакты</h3>
<div>
    <p>
        Адрес: @CompanyInfo.PostIndex @CompanyInfo.CityCompany
        @CompanyInfo.Adderess
        @CompanyInfo.Country
    </p>
</div>
<div>
    <p>
        Номер телефона: @CompanyInfo.Phone
    </p>
</div>
<div>
    Электронная почта: @CompanyInfo.Email
</div>